.landingContainer{
    background-image: url('../../assets/img/BackLanding1.gif');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divContainer{
    background-color: rgba(218, 197, 176, 0.8);
    width: 500px;
    height: 200px;
    border-style: solid;
    border-color:#943A61;
    color: #943A61;
    padding: 15px;
    font-family: monospace;
    font-size: x-large;
    font-weight: 300px;
}
.logo{
    width: 100px;
    height: 100px;
    margin: 10px;

}

.textButton{
    color: #943A61;
    font-family: monospace;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.buttonLanding{
    width: 170px;
    height: 60px;
    border: 0;
    padding: 0.8em;
    cursor: pointer;
    font-size: x-large;
    color: #943A61;
    background-color: transparent;
    text-decoration: none;
}

.divButton {
    display: flex;
    justify-content: flex-end;
}