.homeContainer {
    background-color: #5B7D97;
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
}

/* .filtersContainer{
    display: flex;
} */

.cardsContainer{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 100%;
    /* margin: 10px auto */
}

.divCard{
    margin-top: 5%;
    margin-left: 3%;
    position: sticky;
}